$green: #89cff0;
$light-green: #40b5ad;
$light-color: #777;
$light-white: #eee;
$black: black;
$white: #fff;
$border: 0.1rem solid $green;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$primary-color: #3498db;
$red: blueviolet;

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: column;
  box-shadow: $box-shadow;

  width: 100vw;
  height: auto;
  text-align: center;
  padding: 5rem 10%;
  margin-top: 7rem;

  input {
    border-radius: 8px;
    border: solid 1px $red;
    height: 4rem;
    width: 95%;
    color: $green;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .button {
    background: $light-green;
    border: $border;
    color: $white;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    cursor: pointer;
    width: 95%;

    &:hover {
      color: $green;
      background: $light-white;
    }
  }

  p {
    font-size: 1.5rem;
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: column;
  box-shadow: $box-shadow;
  width: 100vw;
  height: auto;
  text-align: center;
  padding: 5rem 10%;
  margin-top: 7rem;

  .input {
    border-radius: 8px;
    height: 4rem;
    width: 95%;
    color: $green;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .button {
    background: $light-green;
    border: $border;
    color: $white;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    cursor: pointer;
    width: 95%;

    &:hover {
      color: $green;
      background: $light-white;
    }
  }

  p {
    font-size: 1.5rem;
  }
}

.dashboard{
  .btn{
    color: $red;
    border-color: $red;
    outline-color: $red;
    width: 90%;
    
    text-align: center;
    margin: 1.5rem;

    &:hover{
      color: #fff;
    }
  }
}
