$green: #89cff0;
$light-green: #40b5ad;
$light-color: #777;
$light-white: #eee;
$black: black;
$white: #fff;
$border: 0.1rem solid $green;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$primary-color: #3498db;








.admin {
    background: $white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/back.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100vw;
  
    .box-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: column;
      padding: 5rem 10%;
      margin-top: 7rem;
  
      .youtube {
        text-align: center;
        padding: 3rem 2rem;
        border: $border;
        width: 80vw;
  
        h1 {
          background: transparent;
        }
  
        form {
          .form-group {
            display: flex;
            align-items: left;
            justify-content: space-around;
  
            .form-control {
              width: 100%;
              height: 4rem;
              margin: 1rem;
              font-size: 2rem;
              border: $border;
              background: transparent;
              box-shadow: $box-shadow;
              color: $green;
            }
  
            .submit {
              width: 100%;
              height: 4rem;
              margin: 1rem;
              font-size: 2rem;
              background: $green;
              color: $white;
  
              &:hover {
                background: $light-green;
                color: $green;
              }
            }
          }
        }
  
        &:hover {
          transform: scale(1.02);
        }
      }
  
      .facebook {
        width: 80vw;
        text-align: center;
        padding: 3rem 2rem;
        border: $border;
        background: transparent;
        flex-flow: column;
        margin: 2rem;
  
        .heading {
          background: transparent;
        }
  
        form {
          .form-group {
            display: flex;
            align-items: left;
            justify-content: space-around;
  
            .form-control {
              width: 100%;
              height: 4rem;
              margin: 1rem;
              font-size: 2rem;
              border: $border;
              color: white;
              background: transparent;
              box-shadow: $box-shadow;
            }
  
            .submit {
              width: 100%;
              height: 4rem;
              margin: 1rem;
              font-size: 2rem;
              background: $green;
              color: $white;
  
              &:hover {
                background: $light-green;
                color: $green;
              }
            }
          }
        }
      }
    }
  }