$red: blueviolet;
$border: solid 1px $red;
@mixin titleText($titleSize) {
  font-size: $titleSize;
  text-transform: capitalize;
  color: white;
}

.books {
  background: white;
  .heading{
    padding-top: 1rem;
  }

  .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;

    .box {
      display: flex;
      border: solid 1px $red;
      margin: 1rem;
      align-items: center;
      width: 35rem;
      height: 45rem;
      flex-flow: column;
      background: linear-gradient(skyblue, $red);

      .image {
        overflow: hidden;
        position: relative;
        border: $border;
        margin: 0.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .content {
        padding: 1rem;
        text-align: center;

        h3 {
          @include titleText(2rem);
          color: white;
          padding: .1rem;
          margin: .1rem;

          span {
            font-family: "Noto Nastaliq Urdu";
            color: yellow;
            display: block;
            margin: 1rem;
            padding: 1rem;
          }
        }

        .button {
          width: auto;
          height: 5rem;
          border: 0.2rem solid #fff;
          outline: 0.2rem solid #fff;
          outline-offset: -0.8rem;
          font-size: 2rem;
          margin: 1;
          padding: 1rem;
          cursor: pointer;
          background: #fff;
          color: black;

          i{
            color: red;
          }
          span{
            color: black;
      
          }
        
          &:hover {
            outline-offset: 0.4rem;
            background: linear-gradient( $red, blueviolet);
          }
        }


      }
    }
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  list-style: none;
  margin-top: 7rem;
  .btn {
    color: $red;
    border-color: $red;
    outline-color: $red;

    &:hover {
      color: #fff;
    }
  }

  p {
    margin: 1rem;
  }
}
