$red: blueviolet;
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: skyblue;

  
}

.gallery__image {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin: 10px;
  &:hover{
    transform: scale(1.05);
  }
}

@media (max-width: 450px) {
    .gallery__image {
        width: 90%;
        height: 90%;
        margin: 10px;
      }
}
